{% sw_extends '@parent/storefront/page/checkout/_page.html.twig' %}

{% block page_checkout_summary_list %}
    <div class="checkout-aside-reward-points-container">
        {% block page_checkout_summary_ar_reward_points %}
            {% sw_include '@Storefront/storefront/page/checkout/ar_rewardpoints/spend.html.twig' %}
        {% endblock %}
    </div>
    {{ parent() }}
{% endblock %}
